* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
}

nav {
    background-color: #71C9CE;
    width: 300px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .foto-profil {
        margin: 50px 20px 5px 20px;
        background-color: white;
        border-radius: 50%;
        height: 150px;
        width: 150px;
    }

    p {
        color: white;
    }

    ul {
        margin-top: 20px;
        list-style: none;
        width: 100%;
        text-align: left;
    }

    li {
        width: 100%;
        padding: 10px 40px;
        font-size: 24px;
        color: white;
    }

    li:hover {
        background-color: rgb(61, 160, 165);

    }
}

.main-content {
    padding-left: 50px;
    padding-top: 50px;
}