* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
	display: flex;
	width: 80%;
	margin: auto;
	height: 10vh;
	align-items: center;
}

.logo-container,
.nav-links,
.cart {
	display: flex;
}

.logo-container {

	flex: 1;
}

.logo {
	font-weight: 400px;
	margin: 5px;
}

nav {
	flex: 2;
}

.nav-links {
	justify-content: space-around;
	list-style: none;
}

.nav-link {
	color: #3a3a4e;
	font-size: 18px;
	text-decoration: none;
}

.cart {

	flex: 1;
	justify-content: flex-end;
}

.presentation {
	display: flex;
	width: 80%;
	margin: auto;
	align-items: center;
	height: 100vh;
}

.presentation::before {
	background-color: #3da0a5;
	content: "";
	display: flex;
	width: 100vw;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -99;
	margin: auto;
	align-items: center;
	min-height: 100vh;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 70% 100%, 20% 0%);
}

.introduction {
	flex: 2;
}

.intro-text h1 {
	font-size: 44px;
	font-weight: 500;
	color: #3a3a4e;
}

.intro-text p {
	margin-top: 5px;
	font-size: 22px;
	color: #3a3a4e;
}

.cta {
	padding-top: 50px;
}

.cta-select {
	border: 2px solid #71C9CE;
	background: transparent;
	color: #71C9CE;
	width: 150px;
	height: 50px;
	cursor: pointer;
}

.cta-add {
	border: none;
	background: #71C9CE;
	color: #ffffff;
	width: 150px;
	height: 50px;
	cursor: pointer;
	margin: 10px 0 0 10px;
}

.cover {
	flex: 1;
	height: 40vh;
	justify-content: flex-end;
	animation: drop 1.5s ease;
}

.cover img {
	height: 100%;
}

.big-eclipse {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 70%;
	z-index: -1;
	opacity: 0.6;
}

.mid-eclipse {
	position: absolute;
	top: 35%;
	right: 35%;
	height: 50%;
	z-index: -1;
	opacity: 0.6;
}

.small-eclipse {
	position: absolute;
	bottom: 0;
	right: 60%;
	height: 30%;
	z-index: -1;
}

#about {
	display: flex;
	margin: auto;
	padding: 10px;
	text-align: center;
	width: 100vw;
	min-height: 100vh;
	position: relative;


	div.image {
		position: relative;
		bottom: 10vh;
		flex: 1;
		display: flex;
		min-height: 100vh;

		img {
			width: 30vw;
			margin: auto;
		}
	}

	div.text {
		flex: 2;
		text-align: center;


		h2 {
			font-size: 40px;
			color: #3a3a4e;
			display: inline-block;
			padding-bottom: 10px;
			border-bottom: 4px solid #3a3a4e;
			margin-bottom: 40px;
		}

		div {
			border: 2px solid #3a3a4e;
			border-radius: 10px;
			margin: 5px 30px;
			padding: 10px;
			color: #3a3a4e;
		}
	}

	div.background::before {
		background-color: #3da0a5;
		content: "";
		display: flex;
		width: 100vw;
		position: absolute;
		left: 0px;
		top: 0px;
		z-index: -99;
		margin: auto;
		align-items: center;
		min-height: 100vh;
		clip-path: polygon(0% 100%, 0% 80%, 50% 90%, 100% 80%, 100% 100%, );
	}
}

@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px)
	}

	100% {
		opacity: 1;
		transform: translateY(0px)
	}
}

@media screen and (max-width: 900px) {
	.presentation {
		flex-direction: column;
		text-align: center;
		align-content: center;
	}

	.introduction {
		margin-top: 5vh;
		text-align: center;
		flex: 1;
	}

	.intro-text h1 {
		font-size: 30px;
	}

	.intro-text p {
		font-size: 14px;
	}

	.cta-add,
	.cta-select,
	.cover {
		flex: 2;
		transform: scale(0.8);

		img {
			height: 40vh;
		}
	}

	.logo {
		display: none;
	}

	#about {
		flex-direction: column;
		text-align: center;
		align-content: center;

		div.image {
			display: none;
		}

	}
}

@media screen and (max-width: 400px) {
	.cta-add {
		margin: 0px;
	}

	.nav-link {
		font-size: 14px;

	}

	#about {
		div.text {
			background-color: white;
		}

	}
}
